<!DOCTYPE html>
<html>
  <head>
    <title>Ui170329</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= yield %>

    <script src="https://use.fontawesome.com/1640b124f6.js"></script>
  </body>
</html>
